.fon {
	background-image: url('main.jpg');
	
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 100vw auto;

}
.zagolovok {
	font-size: 30px;
	text-align: center;
	padding-top: 140px;
	color: #11F256;
	font: italic 3em "Fira Sans", serif;
	padding-bottom: 40px;
	font-weight: bold;
}
.foto {
	width: 30vw;
	padding: 20px;
	max-height: 800px;
}
.foto1 {
	max-width: 80vw;
}
.kartinki {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 40px;
}
.ramka {
	border: 10px solid #ccc; /* рамка */
	background-color: #f1f0f0; /* цвет фона */
	margin: 20px;
	align-items: center;

}
figcaption {
	text-align: center;

}
.konec {
	font-size: 30px;
	text-align: center;
	padding-top: 40px;
	color: #0EF86C;
	font: italic 2em "Fira Sans", serif;
	padding-bottom: 40px;
	font-weight: bold;
}
